{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Playa Pharmacy Sleep Aids</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500;600;700&family=Open+Sans:wght@400;600&display=swap" rel="stylesheet"> 

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="{% static 'lib/animate/animate.min.css' %}" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>

<body>
    <!-- Spinner Start -->
    <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-grow text-primary m-1" role="status">
            <span class="sr-only">Loading...</span>
        </div>
        <div class="spinner-grow text-dark m-1" role="status">
            <span class="sr-only">Loading...</span>
        </div>
        <div class="spinner-grow text-secondary m-1" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <!-- Spinner End -->


    <!-- Topbar Start -->
    <div class="container-fluid bg-light ps-5 pe-0 d-none d-lg-block">
        <div class="row gx-0">
            <div class="col-md-6 text-center text-lg-start mb-2 mb-lg-0">
                <div class="d-inline-flex align-items-center">
                    <small class="py-2" style="color: black; font-weight: bold;"><i class="far fa-clock me-2" style="color: #085371;"></i>Opening Hours: Monday to Friday : 9am - 6.30pm, Saturday : 9am to 3pm, <span style="color: red;">Sunday Closed</span> </small>
                </div>
            </div>
            <div class="col-md-6 text-center text-lg-end">
                <div class="position-relative d-inline-flex align-items-center text-white top-shape px-5" style="background-color: #085371;">
                    <div class="me-3 pe-3 border-end py-2">
                        <p class="m-0"><i class="fa fa-envelope-open me-2"></i>info@playapharmacy.com</p>
                    </div>
                    <div class="py-2">
                        <p class="m-0"><i class="fa fa-phone-alt me-2"></i>+1 (310) 823-4500</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Topbar End -->


    <!-- Navbar Start -->
    <nav class="navbar navbar-expand-lg bg-white navbar-light shadow-sm px-5 py-3 py-lg-0">
        <a href="{% url 'home' %}" class="navbar-brand p-0">
             <img src="{% static 'img/logo/Playa_logo-Photoroom.png' %}" class="d-block" alt="...">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto py-0">
                <a href="{% url 'home' %}" class="nav-item nav-link">Home</a>
            </div>
            <div class="dropdown">
                <button class="dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" >About</button>
                <ul class="dropdown-menu dropdown-menu-dark">
                    <li><a class="dropdown-item" href="{% url 'about' %}">About Us</a></li>
                    <li><a class="dropdown-item" href="{% url 'compounding' %}">About Compounding</a></li>
                </ul>
            </div>
            <div class="dropdown">
                <button class="dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" >Specialties</button>
                <ul class="dropdown-menu dropdown-menu-dark">
                    <li><a class="dropdown-item" href="{% url 'methylene' %}">Methylene blue</a></li>
                    <li><a class="dropdown-item" href="{% url 'pain_management' %}">Pain Management</a></li>
                    <li><a class="dropdown-item" href="{% url 'hormone' %}">Hormone Therapy</a></li>
                    <li><a class="dropdown-item active" href="{% url 'sleep_aids' %}">Sleep Aids</a></li>
                    <li><a class="dropdown-item" href="{% url 'weight_management' %}">Weight Management</a></li>
                    <li><a class="dropdown-item" href="{% url 'pet_medicine' %}">Pet Medicine</a></li>
                    <li><a class="dropdown-item" href="{% url 'nutriceuticals' %}">Nutriceuticals</a></li> 
                    <li><a class="dropdown-item" href="{% url 'adrenal_fatigue' %}">Adrenal Fatigue</a></li>
                    <li><a class="dropdown-item" href="{% url 'dermatology' %}">Dermatology</a></li>
                    <li><a class="dropdown-item" href="{% url 'additional_expertise' %}">Additional Expertise</a></li>
                </ul>
            </div>
            
            <div class="navbar-nav">
                <a href="{% url 'provider' %}" class="nav-item nav-link">Provider</a>
                <a href="{% url 'contact' %}" class="nav-item nav-link">Contact Us</a>
            </div>
            
            <a href="{% url 'transfer' %}" class="btn py-2 px-4">Transfer Rx</a>
            <!-- <button type="button" class="btn py-2 px-4 ms-3" data-toggle="modal" data-target="#myModal"> Contact Us</button> -->
            <!-- <button type="button" class="btn py-2 px-4 ms-3" data-bs-toggle="modal" data-bs-target="#exampleModal">Contact Us</button> -->
            
        </div>
    </nav>
    <!-- Navbar End -->


    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
        <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Contact Information</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form>
                <div class="mb-3">
                    <label class="col-form-label">First Name:</label>
                    <input type="text" class="form-control" placeholder="First Name">
                </div>
                <div class="mb-3">
                    <label class="col-form-label">Last Name:</label>
                    <input type="text" class="form-control" placeholder="Last Name">
                </div>
                <div class="mb-3">
                    <label class="col-form-label">Phone Number:</label>
                    <input type="text" class="form-control" placeholder="Phone Number">
                </div>
                <div class="mb-3">
                    <label for="message-text" class="col-form-label">Message:</label>
                    <textarea class="form-control" id="message-text" rows="6"></textarea>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
        </div>
    </div>
    </div>
    <!-- End Modal Contact info -->

    <!-- Hero Start -->
    <div class="container-fluid py-1 hero-header mb-5">
        <div class="row py-3">
            <div class="col-12 text-center">
                <h1 class="display-3 text-white animated zoomIn">Sleep Aids</h1>
                <!-- <a href="" class="h4 text-white">Home</a>
                <i class="far fa-circle text-white px-2"></i>
                <a href="" class="h4 text-white">About</a> -->
            </div>
        </div>
    </div>
    <!-- Hero End -->


    <!-- About Start -->
    <div class="container-fluid wow fadeInUp" data-wow-delay="0.1s">
        <div class="container">
            <div class="row">
                <div class="section-title mb-4">
                        <!-- <h5 class="position-relative d-inline-block text-primary text-uppercase">About Us</h5> -->
                        <!-- <h4 class=" mb-0">What is it?</h4> -->
                    </div>
                    <!-- <h4 class="text-body fst-italic mb-4">o	Locally owned and run.</h4> -->
                    <p class="mb-4" style="font-size: 20px;">It is hard to overstate the value of a good night’s sleep. When our body is able to relax and enjoy healthy, revitalizing sleep, we wake up feeling energized and ready to face the day. This allows us to focus more clearly, communicate more efficiently, and maintain emotional and physical health.
                </div>
            </div>
        </div>
        <div class="container">
                <div class="section-title">
                        <!-- <h5 class="position-relative d-inline-block text-primary text-uppercase">About Us</h5> -->
                        <!-- <h4 >Which patients may benefit most from methylene blue? </h4> -->
                        <p class="mb-4" style="font-size: 20px;">Disruption of natural sleep patterns can seriously interfere with daily life. People struggling with sleep issues often experience:7</p>
                        <div class="row">
                            <div class="col-md-4">
                                <ul style="font-size: 20px;">
                                    <li>Low energy levels</li>
                                    <li>Difficulty concentrating</li>
                                    <li>Hot flashes</li>
                                    <li>Irritability</li>
                                    <li>Mood swings</li>
                                </ul>
                            </div>
                        </div>
                </div>
        </div>

        <div class="container" style="padding-bottom: 90px;">
            <div class="row">
                <div class="section-title mb-4" >
                        <!-- <h5 class="position-relative d-inline-block text-primary text-uppercase">About Us</h5> -->
                        <!-- <h4 class=" mb-0">What is it?</h4> -->
                    </div>
                    <!-- <h4 class="text-body fst-italic mb-4">o	Locally owned and run.</h4> -->
                    <p class="mb-4" style="font-size: 20px;">Our pharmacists understand that sleep struggles are often the result of multiple factors, and we provide treatment plans that account for each patient’s unique situation. We offer dietary supplements and natural sleep aids in customizable dosage forms that can help address your specific needs, and we’ll work with your healthcare practitioner to help you achieve sustained, healthy sleep.</p>
                </div>
                <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal">Click here to schedule your consultation today</button>
                <!-- <h6><a href="#" style="font-size: 20px;">Contact us to schedule your consultation today,</a></h6> -->
            </div>
        </div>
    </div>


    <!-- About End -->
    

    <!-- Footer Start -->
    <div class="container-fluid text-light py-5 wow fadeInUp" data-wow-delay="0.3s" style="margin-top: -75px; background-color: #085371;">
        <div class="container pt-5">
            <div class="row g-5 pt-4">
                <div class="col-lg-3 col-md-6">
                    <!-- <h3 class="text-white mb-4">Quick Links</h3>
                    <div class="d-flex flex-column justify-content-start">
                        <a class="text-light mb-2" href="#"><i class="bi bi-arrow-right text-primary me-2"></i>Home</a>
                        <a class="text-light mb-2" href="#"><i class="bi bi-arrow-right text-primary me-2"></i>About Us</a>
                        <a class="text-light mb-2" href="#"><i class="bi bi-arrow-right text-primary me-2"></i>Our Services</a>
                        <a class="text-light mb-2" href="#"><i class="bi bi-arrow-right text-primary me-2"></i>Latest Blog</a>
                        <a class="text-light" href="#"><i class="bi bi-arrow-right text-primary me-2"></i>Contact Us</a>
                    </div> -->
                    <img src="{% static 'img/logo/Playa_logo-Photoroom.png' %}" alt="img_footer" class="img_footer">
                </div>
                <div class="col-lg-3 col-md-6 quick-links-padding">
                    <h3 class="text-white mb-4">Quick Links</h3>
                    <div class="d-flex flex-column justify-content-start">
                        <a class="text-light mb-2" href="index.html">Home</a>
                        <a class="text-light mb-2" href="about.html">About Us</a>
                        <a class="text-light mb-2" href="#faq_selection">FAQ</a>
                        <a class="text-light mb-2" href="contact2.html">Contact Us</a>
                        <a class="text-light mb-2" href="policy.html">Privacy Policy</a>
                        <a class="text-light" href="term.html">Term and Conditions</a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h3 class="text-white mb-4">Get In Touch</h3>
                    <p class="mb-2"><i class="bi bi-geo-alt text-primary me-2"></i>8131 W. Manchester Ave. Playa Del Rey, CA 90293</p>
                    <p class="mb-2"><i class="bi bi-envelope-open text-primary me-2"></i><a href="mailto:info@playapharmacy.com" style="color: #EEF9FF;">info@playapharmacy.com</a></p>
                    <p class="mb-0"><i class="bi bi-telephone text-primary me-2"></i><a href="tel:+13108234500" style="color: #EEF9FF;">Phone: +1 (310) 823-4500</a></p>
                    <p class="mb-0"><i class="bi bi-telephone text-primary me-2"></i><a href="tel:+13108235700" style="color: #EEF9FF;">Fax: +1 (310) 823-5700</a></p>
                </div>
                
                <div class="col-lg-3 col-md-6 ft_social">
                    <h3 class="text-white mb-4">Follow Us</h3>
                    <div class="d-flex">
                        <a class="btn btn-lg btn-primary btn-lg-square rounded me-2" href="https://www.yelp.com/biz/playa-pharmacy-playa-del-rey-11" target="_blank"><i class="fab fa-yelp fw-normal"></i></a>
                        <a class="btn btn-lg btn-primary btn-lg-square rounded me-2" href="https://www.facebook.com/playapharmacy/" target="_blank"><i class="fab fa-facebook-f fw-normal"></i></a>
                        <a class="btn btn-lg btn-primary btn-lg-square rounded me-2" href="https://www.indeed.com/cmp/Playa-Pharmacy" target="_blank"><i class="fab fa-linkedin-in fw-normal"></i></a>
                        <a class="btn btn-lg btn-primary btn-lg-square rounded" href="https://www.instagram.com/playapharmacy/" target="_blank"><i class="fab fa-instagram fw-normal"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid text-light py-4" style="background: #008037;">
        <div class="container">
            <div class="row g-0">
                <div class=" text-center text-md-center">
                    <p class="mb-md-0">&copy; Copyright 2026, Playa Pharmacy, All rights reserved.</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square rounded back-to-top"><i class="bi bi-arrow-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'lib/wow/wow.min.js' %}"></script>
    <script src="{% static 'lib/easing/easing.min.js' %}"></script>
    <script src="{% static 'lib/waypoints/waypoints.min.js' %}"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script> -->


    <!-- Template Javascript -->
    <script src="{% static 'js/main.js' %}"></script>
</body>

</html>